In [119]:
import sqlite3
conn = sqlite3.connect('nn20.db')

In [120]:
timewait = 10

c = conn.cursor()

# Create table
try:
    c.execute('''CREATE TABLE stocksss (date text, trans text, symbol text, qty real, price real)''')
    c.execute('''CREATE UNIQUE INDEX qty_ind on stocksss (qty)''')
except Exception as e:
    pass

# Insert a row of data
c.execute("INSERT INTO stocksss VALUES ('2006-01-05','BUY','RHAT',100,35.14)")
c.execute("INSERT INTO stocksss VALUES ('2006-01-05','BUY','RHAT',101,35.24)")
c.execute("INSERT INTO stocksss VALUES ('2006-01-05','BUY','RHAT',102,35.34)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
#conn.close()

IntegrityError: UNIQUE constraint failed: stocksss.qty

In [117]:
conn.close()

In [114]:
conn = sqlite3.connect('nn20.db')
c = conn.cursor()

In [115]:
symbol = 'RHAT'
c.execute("SELECT * FROM stockss WHERE symbol = '%s'" % symbol)

In [116]:
c = conn.cursor()
for row in c.execute('SELECT * FROM stocksss ORDER BY price'):
        print row

(u'2006-01-05', u'BUY', u'RHAT', 100.0, 35.14)
(u'2006-01-05', u'BUY', u'RHAT', 101.0, 35.24)
(u'2006-01-05', u'BUY', u'RHAT', 102.0, 35.34)

In [96]:
t = ('RHAT',)
c.execute('SELECT * FROM stocksss WHERE symbol=?', t)
print c.fetchone()

None

In [72]:
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),             
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stockss VALUES (?,?,?,?,?)', purchases)
conn.commit()

IntegrityError: UNIQUE constraint failed: stockss.qty

In [73]:
conn.close()